<div >
    <span class="title" *ngIf="enabledTitle">Titulo</span>
        
    <div class="pr-4">
        <button id="btnExportExcel" *ngIf="allowExcelExport" class="button-title" (click)="exportAsXLSX()">
            Export To Excel
        </button>        
    </div>
</div>


<content>  
    <ag-grid-angular 
        #agGrid
        style="width: 100%; height: 670px;  box-sizing: border-box;" 
        id="myGrid"
        class="ag-theme-alpine px-4 pt-4 height-70"
        [rowData]="data" 
        [columnDefs]="gridColumns"
        [enableSorting]="true"
        [enableFilter]="true"
        [enableCellChangeFlash]="true"
        [enableCellTextSelection]="true"
        [defaultColDef]="defaultColDef"
        [pinnedTopRowData]="pinnedTopRowData"
        [pinnedBottomRowData]="pinnedBottomRowData"
        [enterMovesDown]="true"
        [enterMovesDownAfterEdit]="true"
        [enableRangeSelection]="true"
        [frameworkComponents]="frameworkComponents"
        [processDataFromClipboard]="processDataFromClipboard"
        (gridReady)="onGridReady($event)"
         >
    </ag-grid-angular>

</content>
