
<content >

    <!-- BEGIN: Content-->
    <div class="app-content content">
        <div class="content-overlay"></div>
        <div class="content-wrapper">
            <div class="content-header row">Usuarios
            </div>
            <div class="content-body">
                <app-project [gridColumns]="gridColumns" [data]="data" [enabledTitleOp] = "enabledTitle"
                [allowExcelExportOp] = "allowExcelExport"
                (exportExcel)= "onExportExcel($event)"></app-project>
            </div>
        </div>
    </div>
    <!-- END: Content-->

</content>
