<!-- BEGIN: Content-->

<div class="app-content content">
    <div class="content-wrapper">
        <div class="content-header row">
        </div>
        <div class="content-body">
            <!-- app invoice View Page -->
            <section class="">                
                <div class="row">
                    <div ngxUiLoaderBlurred [loaderId]="loaderProjectForm" blur="5">
                        <!-- invoice view page -->
                        <div class="col-xl-12 ">
                            <div class="card">
                                    <div class="card-body">                                    
                                        <!-- header section -->
                                        <div class="edit">
                                            <input id="txtProforma" name="txtProforma" value="{{proformId}}" disabled type="text"><button type="button" class="btn btn-primary submit-button" (click)="edit()">Editar Proforma</button> 
                                        </div>
                                        <div class="" *ngIf="editProform" >
                                            <form [formGroup]="form">
                                                <formly-form [model]="model" [fields]="formFields" [options]="options" [form]="form"></formly-form>
                                            </form>
                                        </div>
                                        <div class="col-xl-4" *ngIf="editProform">
                                            <button type="submit" class="btn btn-primary submit-button" (click)="save()">Guardar Edición</button>
                                            <span></span>
                                            <button type="submit" class="btn btn-primary submit-button" (click)="close()">Cancelar</button>
                                            <button type="submit" class="btn btn-primary submit-button" (click)="exportExcel()">Export Excel</button>
                                        </div>
                                    </div>
                            </div>
                        </div>
                        <div class="col-xl-12 ">
                            <div class="content-body" *ngIf="editProform">
                                <app-grid [budgetRecords]="dataset" [columnsGrid]="columnsGrid" [columnsHeader] = "columnsHeader" 
                                (change)="onChange($event)"></app-grid>
                            </div>
                            <div class="content-body" *ngIf="editProform">
                                <button type="submit" class="btn btn-primary submit-button" (click)="refreshData()">Actualizar Resumen Proforma</button>
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Unidades</th>
                                            <th>Subtotal</th>
                                            <th>% Descuento</th>
                                            <th>Descuento</th>
                                            <th>Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>{{ datasetSummary.quantity }}</td>
                                            <td>{{ datasetSummary.subtotal.toFixed(2) }}</td>
                                            <td>{{ ( ( 1 -datasetSummary.total / datasetSummary.subtotal) * 100 ).toFixed(2) }} %</td>
                                            <td>{{ (datasetSummary.subtotal - datasetSummary.total).toFixed(2) }}</td>
                                            <td>{{ datasetSummary.total.toFixed(2) }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <ngx-ui-loader [loaderId]="loaderProjectForm" ></ngx-ui-loader>
                    </div>
                </div>
            </section>

        </div>
    </div>
</div>
<!-- END: Content-->

