/* You can add global styles to this file, and also import other style files */


@import "ag-grid-community/dist/styles/ag-grid.css";
@import "ag-grid-community/dist/styles/ag-theme-alpine.css";

@import "assets/vendors/css/vendors.min.css";
@import "assets/vendors/css/pickers//pickadate/pickadate.css";
@import "assets/vendors/css/charts/apexcharts.css";
@import "assets/vendors/css/extensions/dragula.min.css";

@import "assets/css/bootstrap.css";
@import "assets/css/bootstrap-extended.css";
@import "assets/css/colors.css";
@import "assets/css/components.css";
@import "assets/css/themes/dark-layout.css";
@import "assets/css/themes/semi-dark-layout.css";
@import "assets/css/style.css";


