<!-- BEGIN: Content-->

<div class="app-content content">
    <div class="content-overlay"></div>
    <div class="content-wrapper">
        <div class="content-header row">
        </div>
        <div class="content-body">
            <!-- app invoice View Page -->
            <section class="invoice-edit-wrapper">
                <div class="row">
                    <!-- invoice view page -->
                    <div class="col-xl-12 ">
                        <div class="card">
                                <div class="card-body">
                                    <!-- header section -->
                                    <div class="">
                                        <form [formGroup]="form">
                                            <formly-form [model]="model" [fields]="formFields" [options]="options" [form]="form"></formly-form>
                                        </form>
                                    </div>
                                    
                                </div>
                                
                        </div>
                    </div>
                    
                </div>
            </section>

        </div>
    </div>
</div>
<!-- END: Content-->

